:root {
  --main-color: #212121;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --white-backround-color: #f5f4fa;
  --black-color: #000000;
  --dark-gray: #2f303a;
  --pure-white: #ffffff;
  --transparent-font: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.upper-part {
  width: 1600px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-controls {
  width: 254px;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  font-family: raleway;
  font-weight: 700;
  margin: top 24px;
  margin-left: 215px;
}

.logo-web {
  color: var(--blue-color);
}
.logo-studio {
  color: var(--black-color);
}

.logo:hover,
.logo:focus {
  background-color: var(--blue-color);
}

.main-controls {
  color: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  width: 51px;
  display: flex;
  justify-content: center;
}
.main-controls:hover,
.main-controls:focus {
  color: var(--blue-color);
}

.mail {
  color: var(--gray-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 135px;
}
.mail:hover,
.mail:focus {
  color: var(--blue-color);
}
.tel {
  color: var(--gray-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 110px;
  margin-right: 227px;
}
.tel:hover,
.tel:focus {
  color: var(--blue-color);
}

.hero {
  background-color: var(--dark-gray);
  text-align: center;
  width: 1600px;
  height: 600px;
  margin: auto;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 94px;
  justify-content: center;
  box-sizing: border-box;
}

.topic {
  color: var(--pure-white);
  line-height: 1.36;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;
  margin: auto;
  padding-bottom: 29.45px;
}

.switch {
  background-color: var(--white-backround-color);
  color: var(--brand-color);
  cursor: pointer;
}

.switch:hover,
.switch:focus {
  color: var(--pure-white);
  background-color: var(--blue-color);
}
.lorem-ipsum {
  width: 1170px;
  height: 101px;
  margin: auto;
  display: flex;
  margin-right: 215px;
  margin-left: 215px;
  padding: 0;
}
.lorem-ipsum-together {
  width: 270;
  height: 101px;
  margin-right: 30px;
  text-align: left;
  box-sizing: content-box;
}
.lorem {
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  width: 270px;
}

.ipsum {
  color: var(--gray-color);
  line-height: 1.71;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
}
.competition-topic {
  color: var(--main-color);
  line-height: 1.17;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.laptops-photo {
  width: 500px;
}

.our-team {
  background-color: var(--white-backround-color);
}

.our-team-topic {
  color: var(--main-color);
  line-height: 1.17;
  text-align: center;
  font-size: 36px;
}

.john-doe-name {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;

  letter-spacing: 00.03em;
}

.john-profession {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.18;
}

.address-bottom {
  background-color: var(--dark-gray);
}

.street {
  color: var(--pure-white);
  text-decoration: none;
  font-size: 14px;
}
.mail-bottom {
  color: var(--transparent-font);
  text-decoration-line: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail-bottom:hover,
.mail-bottom:focus {
  color: var(--blue-color);
}
.tel-bottom {
  color: var(--transparent-font);
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.tel-bottom:hover,
.tel-bottom:focus {
  color: var(--blue-color);
}

.logo-studio-bottom {
  color: var(--pure-white);
}

.switch-poftfolio {
  background-color: var(--white-backround-color);
  width: 572px;
  height: 53.25px;
}

.img-photo-portfolio {
  width: 370px;
  height: 289.89;
}

.topic-photo-portfolio {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.fields-photo-portfolio {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
